.profile__edit-button {
  background-color: transparent;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  border: 1px solid #FFFFFF;
  background-image: url(../../../images/pen-for-edit-button.svg);
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: none;
  cursor: pointer;
  grid-area: ebtn;
  transition: opacity 0.15s ease;
  /* transition здесь, а не в hover для плавного эффекта не только при наведении, но и когда убираем курсор с элемента */
}
  

@media (max-width: 767px){
  .profile__edit-button {
    width: 18px;
    height: 18px;
    background-size: 7.5px 7.5px;
    /* margin изменил по PerfectPixel */
    /* при переполнении съезжает к правой границе области */
    /* margin: 0 0 0 11px; */
    margin: 0 auto;
    padding: 0;
  }
}

.profile__edit-button:hover {
  opacity: .6;
}