.add-button {
  box-shadow: none;
  cursor: pointer;

  /* plus */
  /* адаптировал решение из источника */
  /* https://ru.stackoverflow.com/questions/1244612/%D0%A1%D0%B4%D0%B5%D0%BB%D0%B0%D1%82%D1%8C-%D1%81%D0%B8%D0%BC%D0%B2%D0%BE%D0%BB-%D0%BF%D0%BB%D1%8E%D1%81%D0%B0-%D0%B2-css */
  background:
  linear-gradient(#fff,#fff),
  linear-gradient(#fff,#fff),
  #000;
  background-position: center;
  background-size: 16% 2px, 2px 50%;
  background-repeat: no-repeat;

  /* border */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #FFFFFF;
  border-radius: 2px;

  width: 150px;
  height: 50px;
  box-sizing: border-box;
  padding: 0;
  grid-area: add-button;
}

/* 320 */
@media (max-width: 767px){
  .add-button {
    width: 282px;
    background-size: 9% 2px, 2px 50%;
    margin: 36px auto;
  }
}

/* 768 */
@media (min-width: 768px){
  .add-button {
    margin: 36px 27px;
  }
}

/* 1024 */
@media (min-width: 1024px){
  .add-button {
    margin: 35px 0 35px auto;
  }
}


.add-button:hover {
  opacity: .6;
}