.header__logo {
  font-family: 'Inter', 'Arial', sans-serif;
  display: flex;
  width: 142px;
  height: 33px;
}
  
/* 320 */
@media (max-width: 767px){
  .header__logo {
    width: 103.74px;
    height: 24.4px;
    margin: 28px auto 0 27px;
  }
}

  /* 768 */
@media (min-width: 768px){
  .header__logo {
    margin: 45px auto 0 27px; 
  }
}

/* 1024 */
@media (min-width: 1024px){
  .header__logo {
    margin: 45px auto 0 0;
  }
}