.header__logo {
  font-family: 'Inter', 'Arial', sans-serif;
  display: flex;
  width: 142px;
  height: 33px;
  margin: 45px auto 0 0; 
  /* margin: 45px auto 0 0;  */
}
  
/* 320 */
@media (max-width: 767px){
  .header__logo {
    width: 103.74px;
    height: 24.4px;
    margin: 28px auto 0 27px; 
    /* margin: 28px auto 0 0;  */
  }
}

  /* 768 */
@media (max-width: 1023px){
  .header__logo {
    margin: 45px auto 0 27px; 
  }
}