.profile__add-button {
  width: 150px;
  height: 50px;
  padding: 0;
  margin: 35px 0 35px auto;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  box-shadow: none;
  cursor: pointer;
  background-image: url(../../../images/plus-for-add-button.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  grid-area: add-button;
  transition: opacity 0.15s ease;
  /* transition здесь, а не в hover для плавного эффекта не только при наведении, но и когда убираем курсор с элемента */
}


@media (max-width: 1023px){
  .profile__add-button {
    width: 70%;
    background-size: 22px 22px;
    margin: 36px 27px 27px auto;
  }
}

@media (max-width: 767px){
  .profile__add-button {
    min-width: 282px;
    max-width: 580px;
    width: 88%;
    /* width: 90%; */
    /* width изменил по PerfectPixel */
    background-size: 16px 16px;
    margin: 32px auto;
    /* margin: 36px auto; */
    /* margin изменил по PerfectPixel */
  }
}

.profile__add-button:hover {
  opacity: .6;
}