.info {
  display: grid;
  grid-template-areas:
  'nm ebtn'
  'ocptn .';
  grid-template-columns: min-content min-content;
  max-width: 480px;
  margin: calc(62px - 40px) 0 0 30px;
  padding: 0;
  align-items: baseline;
  justify-content: flex-start;
  grid-area: info;
}
  
/* 320 */
@media (max-width: 767px){
  .info {
    width: 282px;
    text-align: center;
    margin: 26px auto 0;
    justify-content: center;
  }
}