.popup__close-btn {
  font-family: 'Inter', 'Arial', sans-serif;
  position: absolute;
  top: -40px;
  right: -40px;
  width: 33px;
  height: 33px;
  background-image: url(../../../images/close-button.svg);
  background-size: 33px 33px;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  box-shadow: none;
  cursor: pointer;
}


@media (max-width: 767px){
  .popup__close-btn {
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    /* top: -30px; */
    /* изменил top в соответствии с PerfectPixel */
    top: -38px;
    right: 0;
  }
}

.popup__close-btn:hover {
  opacity: .6;
}