.avatar {
  font-family: 'Inter', 'Arial', sans-serif;
  width: 120px;
  margin: 0;
  padding: 0;
  grid-area: avatar;
  /* z-index: 1; */
}


/* 320 */
@media (max-width: 767px){
  .avatar {
    margin: 0 auto;
  }
}

/* 768 */
@media (min-width: 768px){
  .avatar {
    margin: 0 0 0 27px;
  }
}

/* 1024 */
@media (min-width: 1024px){
  .avatar  {
    margin: 0;
  }
}