.post__delete-btn {
  width: 18px;
  height: 19.3px;
  background-image: url(../../../images/bin-button.svg);
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  box-shadow: none;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  transition: opacity 0.15s ease;
  /* transition здесь, а не в hover для плавного эффекта не только при наведении, но и когда убираем курсор с элемента */
}

.post__delete-btn:hover {
  opacity: .6;
}